@import '../../css/config.scss';
@import '../../css/mixins.scss';

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-unit * 1;
}
.form {
  background: $primary-normal;
  padding: $spacing-unit;
  border-radius: $spacing-radius;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: $spacing-unit*2;
  align-items: center;
  border-left: 6px solid;
  border-right: 6px solid;
  border-color: $primary-light;
  min-height: 100%;
  justify-content: center;
  @include respond-to(small) {
    flex: none;
    min-width: 45%;
  }
  @include respond-to(medium) {
    margin: 0;
    min-width: 35%;
  }
  @include respond-to(large) {
    min-width: 25%;
  }
}
