@import '../../css/config.scss';

.button {
  outline: none;
  padding: $spacing-unit * 1;
  font-size: 1em;
  border-radius: $spacing-radius;
  background: $special-normal;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  color: $primary-normal;
  border-left: 4px solid;
  border-right: 4px solid;
  border-top: none;
  border-bottom: none;
  border-color: $special-dark;
  font-weight: 700;
  &:hover {
    background: $special-light;
    border-color: $special-normal;
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.3);
  }

  &.small {
    width: auto;
  }
  &.normal {
    width: 150px;
  }
  &.medium {
    width: 200px;
  }
  &.big {
    width: 250px;
  }
}
.uppercase {
  text-transform: uppercase;
}
