//conf
$darken-percent: 10%;
$lighten-percent: 4%;

//color
$primary-normal: #0f0f0f;
$primary-light: lighten($primary-normal, $lighten-percent);
$primary-dark: darken($primary-normal, $darken-percent);

$contrast-normal: #f8f8f8;
$contrast-light: lighten($contrast-normal, $lighten-percent);
$contrast-dark: darken($contrast-normal, $darken-percent);

$special-normal: #edbb2d;
$special-light: lighten($special-normal, $lighten-percent);
$special-dark: darken($special-normal, $darken-percent);

$error-normal: #dd2e2e;
$error-light: lighten($error-normal, $lighten-percent);
$error-dark: darken($error-normal, $darken-percent);
//spacing
$spacing-unit: 10px;
$spacing-radius: 3px;
